.app-info {
  width: 80%;
  margin: auto;
}

p {
  margin-top: 50px;
  font-size: 20px;
}

@media all and (min-width: 800px) {
  .button-container {
    width: 20%;
    margin: auto;
  }

  .app-info {
    text-align: center;
    width: 70%;
    margin: auto;
    padding-top: 50px;
  }

  p {
   
  }

}