.App {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2rem;
}

.main {
  padding-top: 100px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2rem;
}


